/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

/* Competitive Profile Div */
div.CPDiv {
  width: 80%;
  position: relative;
  left: 10%;
  margin-bottom: 30px;
}

div.CPDiv div.CPHeader {
  position: relative;
  left: 10%;
  width: 80%;
  text-align: center;
}

div.CPDiv div.CPHeader p.CPIntro{
  color: #AF9D9D;
  font-family: 'Ruda', sans-serif;
  font-size: 30px;
  padding: 20px;
}

div.CPDiv div.CPProfile {
  display: flex;
  justify-content: center;
}

div.CPDiv div.CPProfile a.CPLink {
  width: 25%;
  display: block;
  text-align: center;
  text-decoration: none;
  color: gray;
  font-family: 'Roboto Slab', serif;
}

div.CPDiv div.CPImage {
  height: 80vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

div.CPDiv div.CPImage a {
  text-decoration: none;
}

div.CPDiv div.CPImage a p {
  font-size: 40px;
  padding: 25%;
  color: white;
}

div.CPDiv div.CPImage::before {
  background-image: url('images/ICPCImg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  content: "";
  opacity: 0.5;
  position: absolute;
  top: 250px;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

