/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

/* For full body element */
body {
  background-color: #181818;
  margin: 0 0 120px 0;
}

/* For topnav */

div.topnav {
  width: 70%;
  margin: auto;
  padding: 10px 0 0 0;
  overflow: hidden;
  font-family: 'Teko', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.topnav div.brand a {
  font-size: 30px;
  text-decoration: none;
  color: white;
}

div.topnav div.navlinks {
  width: 30%;
  float: left;
  display: flex;
  justify-content: space-between;
}

div.topnav div.navlinks div a {
  color: #A5A5A5;
  text-decoration: none;
  font-size: 20px;
  padding-top: 3px;
}

div.topnav div.navlinks div a.active {
  color: #757575;
  border-top: 3px solid #757575;
  border-bottom: 3px solid #757575;
}

div.topnav div.navlinks div a:hover {
  color: #757575;
}

/* For introDiv */

div.introDiv {
  padding-top: 40px;
  width: 100%;
  position: relative;
  height: 600px;
  padding-bottom: 40px;
}

div.introDiv img {
  position: absolute;
  top: 40px;
  left: 52%;
  opacity: 0.8;
}

div.introDiv div.introText {
  z-index: 1;
  position: relative;
  left: 15%;
  width: 50%;
  top: 40px;
}

div.introDiv div.introText p.primary {
  color: #FFF;
  font-size: 50px;
  font-family: 'Ruda', sans-serif;
}

div.introDiv div.introText p.secondary {
  color: gray;
  font-size: 25px;
  width: 74%;
  font-family: 'Roboto Slab', serif;
}

div.introDiv div.introText hr.line {
  width: 30%;
  margin: 0;
}

div.introDiv div.mediaLinks {
  position: relative;
  left: 15%;
  width: 37%;
  top: 55px;
}

div.introDiv div.mediaLinks a.linkIcon {
  text-decoration: none;
  padding: 15px;
  font-size: 23px;
  color: #555;
  transition-duration: 300ms;
}

div.introDiv div.mediaLinks a.linkIcon:hover {
  font-size: 30px;
  padding: 8px 13px;
}

/* For Comments */

div.commentDiv {
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 7%;
  padding-right: 7%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}

div.commentDiv p.header {
  font-family: 'Roboto Slab', serif;
  color: white;
  font-size: 25px;
  margin: 5px 0;
}

div.commentDiv div.commentListDiv {
  margin: 5px 0;
  padding: 0;
}

div.commentDiv div.commentListDiv div.commentItemDiv {
  padding: 10px;
  margin: 2px;
  display: block;
  border-radius: 5px;
  background-color: gray;
}

div.commentDiv div.commentListDiv div.commentItemDiv p.text {
  font-family: 'Ruda', sans-serif;
  color: white;
  font-size: 16px;
  padding: 5px;
  margin: 0;
}

div.commentDiv div.commentListDiv div.commentItemDiv p.userEmail {
  font-family: 'Ruda', sans-serif;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

div.commentDiv form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

div.commentDiv form textarea.commentInput {
  display: block;
  width: 92%;
  margin: 2px;
  height: 30px;
  border-radius: 5px;
}

div.commentDiv form input.commentSubmit {
  width: 20%;
  font-size: 15px;
  padding: 10px;
}

/* For Login Div */

div.commentDiv div.loginDiv p.loginDisclaimer{
  color: white;
  font-size: 15px;
  font-family: 'Ruda', sans-serif;
}

div.commentDiv div.loginDiv button.loginButton a {
  text-decoration: none;
  color: black;
  padding: 10px;
}
